name: DevOps Practice Workflow

on:
  push:
    branches:
      - branch1
  pull_request:
    branches:
      - main

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print message
        run: echo "Workflow triggered successfully"
